.coin-watch {
  width: calc(50% - 15px);
  height: calc((50% - 15px) * 6/8); }

.coin-watch-phone {
  width: calc(12% - 15px);
  height: calc((12% - 15px) * 6/8);
  align-self: flex-end;
  margin-right: 20px; }

.coin-watch-ipad {
  width: calc(18% - 15px);
  height: calc((18% - 15px) * 6/8);
  align-self: flex-end;
  margin-left: 20px; }

.coin-watch-project {
  margin-top: 75px;
  display: flex;
  justify-content: center; }

.other-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 60px 0 0;
  font-size: 18pt; }

#projects {
  padding: 50px 100px;
  background: #f4f4f4;
  align-items: left;
  height: calc(100vh-200px); }

.subtitle {
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  color: #131313;
  font-weight: 300;
  font-size: 18pt; }
