// @import '../../style/variable.css'
@import '../../variable.scss';


.coin-watch {
    width: calc(50% - 15px);
    height: calc((50% - 15px) * 6/8);
}

.coin-watch-phone {
    width: calc(12% - 15px);
    height: calc((12% - 15px) * 6/8);
    align-self: flex-end;
    margin-right: 30px;
}

.coin-watch-ipad {
  width: calc(18% - 15px);
  height: calc((18% - 15px) * 6/8);
  align-self: flex-end;
  margin-left: 20px;
}
.coin-watch-project {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.featured-project-title {
  text-align: center;
  color: orange;
  text-decoration: none;
  margin: 0 auto;
  // display: block;
}
.featured-project-description {
  margin-top: 10px;
}
.other-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 60px 0 0;
  font-size: 18pt;
}

.project-link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:visited {
    color: orange;
  }
}

#projects {
  padding: 50px 100px;
  background: $white;
  align-items: left;
  height: calc(100vh-200px);
}

.subtitle {
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  color: $black;
  font-weight: 300;
  font-size: 18pt;
}

@media screen and (max-width: 414px) {
  #projects {
    padding: 5px;
    height: 100vh;
  }

  .coin-watch-project {
    width: 100%;
  }

  .other-projects {
    display: block;
    height: 60vh;
    padding: 5px;
    vertical-align: middle;
    width: 100vw;
    text-align: center;
  }

  .other-projects span {
    display: block;
    margin: 10px;
  }


}