#about {
  background: #131313; }

.about-title {
  color: white; }

.about-me-title {
  font-family: "Raleway", sans-serif; }

.skills {
  font-family: "Raleway", sans-serif;
  font-size: 18pt; }

.icons {
  width: 350px;
  height: 200px; }

.photo-icons {
  width: 50%; }

.portrait {
  margin-left: 0;
  border-radius: 5px;
  width: 350px;
  height: 500px;
  background: url("../../assets/portrait.jpg");
  background-size: cover;
  background-position: center; }

.about-wrapper {
  display: flex; }

.about-me-text {
  width: 40vw;
  color: #fff;
  font-size: 16pt;
  font-family: 'Graphik', sans-serif; }

.resume:hover {
  cursor: pointer; }

@media screen and (max-width: 414px) {
  #about {
    height: 800px;
    padding: 5px 5px;
    display: block; }
  .portrait {
    width: 175px;
    height: 250px; }
  .skills {
    font-size: 14pt; }
  .about-wrapper {
    display: block; }
  .photo-icons {
    display: flex;
    justify-content: space-between;
    width: 100vw; }
  .icons {
    width: 175px; }
  .about-me-title {
    font-size: 14pt; }
  .about-me-text {
    width: 100vw;
    font-size: 12pt; }
  .resume {
    font-size: 18pt; } }
