.route-link {
  color: #f4f4f4;
  text-decoration: none; }

.route-link:visited {
  color: #f4f4f4; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 100px;
  height: 150px;
  background: #131313;
  text-align: center; }

.name-title {
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 300;
  text-decoration: none; }

.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

.nav-box {
  display: flex;
  align-items: center;
  text-align: left;
  padding-top: 5px;
  font-size: 11pt;
  color: #fff;
  font-family: 'Graphik', sans-serif;
  line-height: 1.25em; }

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  height: 27px; }
  .nav-link:hover {
    border-bottom: 1px solid #00CEFF; }

.photo-link {
  margin: 22px 10px 0;
  text-decoration: none;
  color: #fff;
  height: 50px; }

.presets-link {
  display: none;
  margin-top: 5px;
  color: #00CEFF;
  text-decoration: none; }

.photo-link:hover .presets-link {
  display: block;
  text-align: center;
  height: 23px; }

.menu-icon {
  display: none; }

@media screen and (max-width: 680px) {
  .header {
    padding: 10px 15px; } }

@media screen and (max-width: 575px) {
  .header {
    height: 100px;
    padding: 10px 15px;
    display: block; }
  .name-title {
    margin-top: 20px; }
  .presets-link {
    display: block; }
  .nav-box {
    display: none; }
  .menu-icon {
    display: block;
    position: absolute;
    left: calc(100% - 34px);
    top: 2px;
    width: 30px;
    height: 30px; }
  .mobile-link-container {
    padding-top: 20px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 850px;
    background-color: #131313;
    z-index: 1; }
  .mobile-link {
    margin: 15px 0; } }
