.box-one {
  width: 25%;
  // border: 1px solid black;
  height: 300px;;
}

.box-two {
  background-image: url('../../assets/coin-watch-screen.png');
  background-size: cover;
  // background-position: center;
}